# Ignore certain directories
build/*
bin/*
*/output/*
!.bitkeep

# visual studio (or code) specific contents
.vs/*
.vscode/*
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# ignore some strange visual studio directory
enc_temp_folder/

# Ignore any executables
*.exe
*.out
*.app
!premake5.exe # premake exception

# Ignore Mac specific files
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

