[submodule "molecool/vendor/spdlog"]
	path = molecool/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "molecool/vendor/nlohmann_json"]
	path = molecool/vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "lua/src"]
	path = lua/src
	url = https://github.com/lua/lua.git
